#implementation-of-central-sector-projects-status-end-march-page {
    grid-template-rows  : 240px repeat(2, 240px);
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid"
            "grid   grid   grid   grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID ===================================================================================================== */
    .implementation-of-central-sector-projects-grid {
        grid-area      : grid;
        width          : 100%;
        min-height     : 600px;
        display        : flex;
        flex-direction : column;
    }

    .implementation-of-central-sector-projects-grid-wrapper {
        flex : 1;
    }
}

/* RESPONSIVE ======================================================================================================== */
@media screen and (max-width : 768px) {
    .implementation-of-central-sector-projects-grid {
        min-height : 400px;
    }
}
