#external-debt-page {
    grid-template-rows  : 240px 1fr;
    grid-template-areas :
        "title  title  title  meta"
        "chart  chart  chart  chart";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    .chart-wrapper {
        grid-area      : chart;
        display        : flex;
        flex-direction : column;
        min-height     : 600px;
    }

    .grid-wrapper {
        flex : 1;
    }
}

