#select-economic-indicators-page {
    grid-template-rows  : 240px auto auto;
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid"
            "notes  notes  notes  notes";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID ===================================================================================================== */
    .select-economic-indicators-grid {
        grid-area  : grid;
        width      : 100%;
    }

    .select-economic-indicators-grid-wrapper {
        width : 100%;
    }

    /* NOTES ========================================================================================================= */
    #notes-card {
        grid-area : notes;

        .notes-text {
            font-size    : 12px;
            opacity      : 0.6;
            white-space  : pre-line;
            line-height  : 1.6;
        }
    }
}

/* RESPONSIVE ======================================================================================================= */
@media screen and (max-width : 768px) {
    .select-economic-indicators-grid {
        min-height : 400px;
    }
}
