#forex-reserves-page {
    grid-template-rows  : 240px auto 1fr;
    grid-template-areas :
            "title      title     title    meta"
            "ts-chart   ts-chart  ts-chart ts-chart"
            "chart      chart     chart    chart";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    .forex-reserves-ts-chart {
        grid-area : ts-chart;
        width     : 100%;
    }

    .forex-reserves-chart {
        grid-area      : chart;
        width          : 100%;
        min-height     : 600px;
        display        : flex;
        flex-direction : column;
    }

    .forex-reserves-grid-wrapper {
        flex : 1;
    }
}

@media screen and (max-width : 768px) {
    .forex-reserves-chart {
        min-height : 400px;
    }
}
