#publications-page {
    grid-template-rows  : repeat(5, 240px);
    grid-template-areas :
            "title      title     title    title";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }
}
