:root {
    --global-border-radius      : 0;

    /* HEADER =============================================================== */
    --site-header-height        : 42px;

    /* PRIMARY NAV ========================================================== */
    --primary-nav-width         : 48px;
    --nav-icon-size             : 20px;

    /* PAGE WITH SIDEBAR ==================================================== */
    --page-sidebar-width        : 200px;
}
