#rbi-standing-facilities-page {
    grid-template-rows  : 240px auto;
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID =================================================================================================== */
    .rbi-standing-facilities-grid {
        grid-area  : grid;
        width      : 100%;
    }

    .rbi-standing-facilities-grid-wrapper {
        width : 100%;
    }
}

/* RESPONSIVE ======================================================================================================= */
@media screen and (max-width : 768px) {
    .rbi-standing-facilities-grid {
        min-height : 400px;
    }
}
