#site-search-wrapper {
    #search-bg-overlay {
        position         : fixed;
        inset            : 0;
        backdrop-filter  : blur(8px) saturate(180%);
        background-color : color-mix(in oklch, var(--black), transparent 80%);
        z-index          : 4000;
    }

    #site-search-content-wrapper {
        position       : fixed;
        inset          : 0;
        z-index        : 4500;
        pointer-events : none;
    }

    #search-modal {
        position       : relative;
        margin         : 120px auto 0;
        max-width      : 720px;
        width          : calc(100% - (2 * var(--micro)));
        height         : fit-content;
        pointer-events : auto;
    }

    #search-results-dropdown {
        margin-top       : 8px;
        max-height       : 480px;
        overflow-y       : auto;
        backdrop-filter  : blur(24px) saturate(180%);
        background-color : var(--slate-light80);
        padding          : var(--nano);
        display          : flex;
        flex-direction   : column;
        gap              : 1px;
    }

    .search-result-item {
        display          : flex;
        flex-direction   : column;
        cursor           : pointer;
        text-decoration  : none;
        color            : inherit;
        transition       : background-color 0.1s ease;
        padding          : 16px;
        background-color : var(--white);

        &.is-active {
            background-color: color-mix(in oklch, var(--blue-light60), transparent 80%);
       }
   }

   .result-theme {
       text-transform : uppercase;
       white-space    : nowrap;
   }

   .search-empty-state {
       padding    : var(--micro);
       text-align : center;
       opacity    : 0.6;
   }
}
