#home-page {
    grid-template-rows  : 240px auto auto repeat(4, 240px);
    grid-template-areas :
            "title      title      title      title"
            "markers    markers    markers    markers"
            "markers    markers    markers    markers"
            "forex      forex      forex      forex"
            "forex      forex      forex      forex"
            "fii        fii        externalDebt          externalDebt"
            "fii        fii        externalDebt          externalDebt";

    #title-card {
        grid-area       : title;
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        position        : relative;
        background      : linear-gradient(345deg, hsla(var(--indivara), 0.8) 0%, #ffffff 100%);

        #field-lines {
            position : absolute;
            right    : 0;
            top      : 0;
            width    : 50%;
            height   : 100%;
        }
    }

    #rbi-seal { width : 80px; }

    #markers {
        grid-area             : markers;
        display               : grid;
        grid-template-columns : repeat(4, 1fr);
        grid-template-rows    : repeat(2, 1fr);
        gap                   : 1px;
    }

    .marker-card {
        height : fit-content;
    }

    #forex-card {
        grid-area      : forex;
        display        : flex;
        flex-direction : column;
    }

    #fii-card {
        grid-area      : fii;
        display        : flex;
        flex-direction : column;
    }

    #external-debt-card {
        grid-area      : externalDebt;
        display        : flex;
        flex-direction : column;
    }

    .forex-chart-wrapper,
    .fii-chart-wrapper {
        flex : 1;
    }

    .grid-cell.has-full-view:hover .full-view-link {
        opacity        : 1;
        pointer-events : auto;
    }
}
