#state-government-investments-page {
    grid-template-rows  : 240px auto;
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID =================================================================================================== */
    .state-government-investments-grid {
        grid-area  : grid;
        width      : 100%;
    }

    .state-government-investments-grid-wrapper {
        width      : 100%;
        overflow-x : auto;
    }

    .state-government-investments-notes {
        margin-top  : var(--nano);
        font-size   : 12px;
        opacity     : 0.65;
        line-height : 1.5;

        p {
            margin  : 0;
            padding : 0;
        }
    }
}

/* RESPONSIVE ======================================================================================================= */
@media screen and (max-width : 768px) {
    .state-government-investments-grid {
        min-height : 400px;
    }
}
