#per-capita-nsdp-constant-prices-page {
    grid-template-rows  : 200px repeat(2, auto);
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid"
            "grid   grid   grid   grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID =================================================================================================== */
    .per-capita-nsdp-constant-prices-grid {
        grid-area      : grid;
        width          : 100%;
        min-height     : 600px;
        display        : flex;
        flex-direction : column;
    }

    .per-capita-nsdp-constant-prices-grid-wrapper {
        flex : 1;
    }
}

/* RESPONSIVE ======================================================================================================= */
@media screen and (max-width : 768px) {
    .per-capita-nsdp-constant-prices-grid {
        min-height : 400px;
    }
}
