#minimum-support-price-for-foodgrains-according-to-crop-year-fair-average-page {
    grid-template-rows  : 240px repeat(2, 240px);
    grid-template-areas :
            "title  title  title  meta"
            "grid   grid   grid   grid"
            "grid   grid   grid   grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    /* DATA GRID ===================================================================================================== */
    .msp-foodgrains-grid {
        grid-area      : grid;
        width          : 100%;
        min-height     : 600px;
        display        : flex;
        flex-direction : column;
    }

    .msp-foodgrains-grid-wrapper {
        flex : 1;
    }
}

/* RESPONSIVE ======================================================================================================== */
@media screen and (max-width : 768px) {
    .msp-foodgrains-grid {
        min-height : 400px;
    }
}
