#commercial-bank-survey-page {
    grid-template-rows  : 240px 240px auto;
    grid-template-areas :
            "title      title       title       meta"
            "statDep    statDep     statCredit  statCredit"
            "grid       grid        grid        grid";

    #title-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        grid-area       : title;
    }

    #meta-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        gap             : var(--micro);
        grid-area       : meta;
    }

    .cbs-stat-card:nth-of-type(3) { grid-area : statDep; }
    .cbs-stat-card:nth-of-type(4) { grid-area : statCredit; }

    .cbs-stat-card {
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
    }

    /* DATA GRID SECTION ========================================================================================== */
    .cbs-grid {
        grid-area      : grid;
        width          : 100%;
        min-height     : 600px;
        display        : flex;
        flex-direction : column;
    }

    .commercial-bank-survey-grid-wrapper {
        flex : 1;
    }
}

/* RESPONSIVE ======================================================================================================= */
@media screen and (max-width : 768px) {
    #commercial-bank-survey-page {
        grid-template-areas :
                "title      title       title       title"
                "meta       meta        meta        meta"
                "statDep    statDep     statCredit  statCredit"
                "grid       grid        grid        grid";
    }

    .cbs-grid {
        min-height : 400px;
    }
}
